.demo {
  position: relative;
}

.demo .notificationsFrame {
  z-index: 2;
  width: 100%;
  top: 20px;
  background: #fff;
  border-radius: 3px;
  overflow: hidden;
  font-family: "Open Sans", Helvetica, sans-serif;
  margin-bottom: 40px;
}

.demo .notificationsFrame.show-menu {
  transform: translate3d(150px, 0, 0);
}

.demo .notificationsFrame .searchInput {
  border: 10px solid red;
  box-sizing: border-box;
  position: absolute;
  top: 13px;
  right: 55px;
  width: 200px;
  height: 34px;
  border-radius: 17px;
  border: none;
  background: #fff;
  padding: 0 17px;
  font-size: 13px;
  color: #666;
  transition: all 0.3s ease-in-out;
  transform: translateX(15px);
  opacity: 0;
  pointer-events: none;
}

.demo .notificationsFrame .searchInput:focus {
  outline: none;
}

.demo .notificationsFrame .searchInput.active {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
  pointer-events: all;
}

.demo .notificationsFrame .content {
  position: relative;
  overflow: hidden;
}

.demo .notificationsFrame .content .line {
  position: absolute;
  top: 0;
  left: 40px;
  bottom: 0;
  width: 3px;
  background: #ebebeb;
}


.demo .notificationsFrame .footer {
  position: relative;
  background: #fff;
  margin: auto;
  height: 30px;
  border-top: 1px solid #eee;
  width: 100%;
  border-radius: 10px;
}

.demo .notificationsFrame .footer button {
  background: #eee;
  position: absolute;
  width: 100%;
  right: 0px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  border: 0;
}

.demo .notificationsFrame .footer button i {
  margin: 0 10px;
}

.product-title {
  color: red
}

.product-blue {
  color: blue
}

.main-container{
  padding: 50px;
  position: relative;
}

.bookmark{
  display: flex;
  flex-direction: row;
  
}

.main-wrapper{
  padding: 0 50px;
  position: relative;
}
.header{
  display: flex;
  justify-content: space-between;
  padding: 20px 0
}
.bookmark{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.right-area{
  position: absolute;
  right:0;
    height: 100px;
    top: 163px;
    z-index: -1;
    width: 200px;
    background-color: red;
    border-bottom-left-radius: 100px;
}

@media screen and (max-width:750px){
.bookmark{
  flex-direction: column;
}
}